name: Build copilot image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          docker build --pull --no-cache . -f .devcontainer/copilot.Dockerfile -t latest
      - run: |
          docker tag latest ghcr.io/gebner/pulsecopilot:latest
          docker push ghcr.io/gebner/pulsecopilot:latest
          docker logout ghcr.io

